.body{
    background-color: aliceblue;
    color: black;
}

    p1{
        
    }

.p7{
    width: 150px; height: 50px;
    background-color: rgb(12, 40, 12);
    color: aliceblue;
}

